<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="shipyard">
		<div class="shipyard-container">
			<div class="sidebar">
				<div th:replace="~{component/navbar :: navbar(${types}, ${activeShipType})}"></div>
			</div>
    		<div class="content-area">
    			<div class="action-bar">
    				<button id="create-ship-btn" modal="createshipmodal">Create Ship</button>
    				<button id="delete-ship-btn" modal="deleteshipmodal">Delete Ship</button>
    				<button id="refresh-btn" onclick="refresh()">Refresh</button>
    			</div>
    			<div th:if="${ships != null}">
    				<div th:replace="~{component/table :: table(${ships})}"></div>
				</div>
    		</div>
		</div>
		<div th:replace="~{component/modal :: modal}"></div>
	</div>
</body>

</html>