.nav-container {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    color: #cccccc;
    text-decoration: none;
}

.nav-link:hover {
    color: #bb0000;
    text-decoration: underline;
}

.nav-link.active {
    color: #bb0000; 
}