.components-view {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
	display: flex;
    flex-direction: column;
    height: 100%;
}

.components-table-view {
    flex: 1;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.components-table-view thead th:nth-child(2),
.components-table-view tbody td:nth-child(2) {
	width: 140px;
}

.components-table-view thead th:nth-child(3),
.components-table-view tbody td:nth-child(3) {
	width: 140px;
}

.create-component-section {
	flex-shrink: 0;
    margin-top: 10px;
}

.create-component-submit {
	margin-left: 10px;
	position: absolute;
	right: 0;
}

.component-row {
	cursor: pointer;
}

.component-row:hover {
	background-color: rgb(130, 130, 130);
}

.component-actions {
	display: flex;
	gap: 4px;
}

.component-actions button {
	margin: 0 2px;
}