.buildcost-modal-view-container {
	position: relative;
	overflow: hidden;
	height: 300px;
}

.buildcost-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: flex;
    flex-direction: column;
}

.buildcost-table-view {
    flex: 1;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.buildcost-table-view thead th:nth-child(2),
.buildcost-table-view tbody td:nth-child(2) {
	width: 140px;
}

.buildcost-table-view thead th:nth-child(3),
.buildcost-table-view tbody td:nth-child(3) {
	width: 140px;
}

.create-buildcost-section {
	flex-shrink: 0;
    margin-top: 10px;
}

.create-buildcost-submit {
	margin-left: 10px;
	position: absolute;
	right: 0;
}

.buildcost-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    min-height: 40px;
}