<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="componentlevel">
		<div class="component-level-table-view">
			<div th:if="${componentlevels != null and not #lists.isEmpty(componentlevels.rows)}">
    			<div th:replace="~{component/table :: table(${componentlevels})}"></div>
			</div>
		</div>
		<div class="create-component-level-section">
			<label id="component-level-response-label"> </label>
           	<form class="create-component-level-form" id="create-component-level-form" onsubmit="createComponent(document.getElementById('shipname').textContent, document.getElementById('type').value, document.getElementById('component-type').value); return false;">
               	<div class="create-component-level-form-container">
               		<button class="back-btn" target="components">&larr; Back</button>
                  	<select id="type" name="type" style="margin-left: 10px;">
                       	<option value="WEAPON">WEAPON</option>
                       	<option value="ENGINE">ENGINE</option>
                       	<option value="SHIELD">SHIELD</option>
                       	<option value="HULL">HULL</option>
                   	</select>
                  	<button class="create-component-level-submit" type="submit">Create</button>
              	</div>
           	</form>
		</div>
	</div>
</body>

</html>
