<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="shipoverviewmodal">
		<h2 id="shipname" th:text="${name}"></h2>
		
		<div class="modal-view-container">
			<div class="components-view">
				<div class="components-table-view">
			    	<div th:if="${components != null and not #lists.isEmpty(components.rows)}">
    					<div th:replace="~{component/table :: table(${components})}"></div>
					</div>
				</div>
				<div class="create-component-section">
					<label id="component-response-label"> </label>
           			<form id="create-component-form" onsubmit="createComponent(document.getElementById('shipname').textContent, document.getElementById('type').value, document.getElementById('component-type').value); return false;">
               			<div class="create-component-form">
                  			<select id="type" name="type" style="margin-left: 10px;">
                       			<option value="WEAPON">WEAPON</option>
                       			<option value="ENGINE">ENGINE</option>
                       			<option value="SHIELD">SHIELD</option>
                       			<option value="HULL">HULL</option>
                   			</select>
                   			<select id="component-type" name="type" style="margin-left: 10px;"></select>
                  			<button class="create-component-submit" type="submit">Create</button>
              			</div>
           			</form>
				</div>
			</div>
			
			<div class="component-overview-view">
				<button class="back-btn">&larr; Back</button>
				<h3 class="component-title">Component Name</h3>
				
				<div class="component-level-table"></div>
			</div>
			
			<div class="level-details-view">
				<button class="back-btn">&larr; Back</button>
				<h4 class="level-title">Level Details</h4>
				
				<div class="level-attribute-table"></div>
			</div>
		</div>
	</div>e
</body>

</html>
