.component-level-view {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
	display: flex;
    flex-direction: column;
    height: 100%;
	transform: translateX(100%);
}

.component-level-table-view {
    flex: 1;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.component-level-table-view thead th:nth-child(2),
.component-level-table-view tbody td:nth-child(2) {
	width: 140px;
}

.component-level-table-view thead th:nth-child(3),
.component-level-table-view tbody td:nth-child(3) {
	width: 90px;
}

.create-component-level-section {
	flex-shrink: 0;
    margin-top: 10px;
}

.create-component-level-submit {
	margin-left: 10px;
	position: absolute;
	right: 0;
}

.component-level-row {
	cursor: pointer;
}

.component-level-row:hover {
	background-color: rgb(130, 130, 130);
}

.component-level-view.slide-in {
	transform: translateX(0);
}

.component-level-view.slide-out {
	transform: translateX(-100%);
}

.component-level-view.slide-out-right {
    transform: translateX(100%);
}

.component-level-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.component-level-actions {
	display: flex;
	gap: 4px;
}

.component-level-actions button {
	margin: 0 2px;
}
